In [1]:
import numpy as np

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Lasso
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('COMPILED DATA_15-09-2022.csv')

In [4]:
data.head()

,MSWG,POP,Literate POP,GDDP,GDDP PER CAPITA,HH,HH SIZE,Worker POP,Unnamed: 8,Unnamed: 9
0,31340.61,370833.0,404570.0,8.091556e+10,218199.4591,404570.0,344570.0,1004570.0,NaN,NaN
1,32149.43,370833.0,374210.0,7.484316e+10,201824.4331,374210.0,334210.0,874210.0,NaN,NaN
2,32294.73,358333.0,355190.0,7.103814e+10,198246.1565,355190.0,325190.0,855190.0,NaN,NaN
3,32683.18,358333.0,345900.0,6.918078e+10,193062.8215,345900.0,345900.0,845900.0,NaN,NaN
4,33186.37,354166.0,340070.0,6.801596e+10,192045.4250,340070.0,340070.0,840070.0,NaN,NaN

In [5]:
data.tail()

,MSWG,POP,Literate POP,GDDP,GDDP PER CAPITA,HH,HH SIZE,Worker POP,Unnamed: 8,Unnamed: 9
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df=data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MSWG             464 non-null    float64
 1   POP              464 non-null    float64
 2   Literate POP     464 non-null    float64
 3   GDDP             464 non-null    float64
 4   GDDP PER CAPITA  464 non-null    float64
 5   HH               464 non-null    float64
 6   HH SIZE          464 non-null    float64
 7   Worker POP       464 non-null    float64
 8   Unnamed: 8       0 non-null      float64
 9   Unnamed: 9       0 non-null      float64
dtypes: float64(10)
memory usage: 78.2 KB

In [7]:
data.shape

(1000, 10)

In [8]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

10631.96     3
11240.07     3
11510.21     3
10922.34     3
10413.23     3
            ..
51851.01     1
51834.34     1
52053.54     1
50620.07     1
110650.00    1
Name: MSWG, Length: 443, dtype: int64
********************
100000.0     19
212500.0     14
83333.0      12
95833.0      10
50000.0      10
             ..
275022.0      1
350019.0      1
375010.0      1
375099.0      1
1083331.0     1
Name: POP, Length: 203, dtype: int64
********************
539160.0    6
111530.0    5
141530.0    5
104530.0    4
550000.0    4
           ..
153060.0    1
144670.0    1
136480.0    1
118510.0    1
224170.0    1
Name: Literate POP, Length: 417, dtype: int64
********************
1.100000e+11    13
1.080000e+11    11
1.010000e+11     6
2.830746e+10     5
2.230746e+10     5
                ..
3.830328e+10     1
3.667025e+10     1
3.771609e+10     1
2.059726e+10     1
4.483440e+10     1
Name: GDDP, Length: 392, dtype: int64
********************
114608.3877    2
509578.1203    2
218199.4591    1
191239.7127    1
132119.2471    1
              ..
196298.9630    1
198428.2870    1
201592.4490    1
204505.0909    1
420699.6433    1
Name: GDDP PER CAPITA, Length: 462, dtype: int64
********************
539160.0    6
311530.0    5
341530.0    5
549160.0    4
550000.0    4
           ..
353060.0    1
344670.0    1
336480.0    1
318510.0    1
224170.0    1
Name: HH, Length: 418, dtype: int64
********************
141530.0    5
111530.0    5
284170.0    4
104530.0    4
121530.0    4
           ..
261500.0    1
216370.0    1
174690.0    1
153060.0    1
224170.0    1
Name: HH SIZE, Length: 427, dtype: int64
********************
1039160.0    6
411530.0     5
441530.0     5
404530.0     4
1050000.0    4
            ..
1253060.0    1
1244670.0    1
1236480.0    1
1218510.0    1
624170.0     1
Name: Worker POP, Length: 417, dtype: int64
********************
Series([], Name: Unnamed: 8, dtype: int64)
********************
Series([], Name: Unnamed: 9, dtype: int64)
********************

In [9]:
data.isna().sum()

MSWG                536
POP                 536
Literate POP        536
GDDP                536
GDDP PER CAPITA     536
HH                  536
HH SIZE             536
Worker POP          536
Unnamed: 8         1000
Unnamed: 9         1000
dtype: int64

In [10]:
data.drop(columns=['Unnamed: 8','Unnamed: 9'],inplace =True)

In [11]:
data.describe()

,MSWG,POP,Literate POP,GDDP,GDDP PER CAPITA,HH,HH SIZE,Worker POP
count,464.000000,4.640000e+02,464.000000,4.640000e+02,4.640000e+02,464.000000,464.000000,4.640000e+02
mean,37968.759530,2.801720e+05,278308.254310,5.566930e+10,3.000959e+05,358997.909483,225894.247845,7.272307e+05
std,39608.687473,2.356717e+05,142326.436767,2.847734e+10,2.816596e+05,86655.081878,82617.187073,2.652560e+05
min,4195.833000,1.170800e+04,100080.000000,2.001632e+10,2.680163e+04,195290.000000,100080.000000,4.000800e+05
25%,11843.367500,1.041660e+05,154410.000000,3.088296e+10,1.630706e+05,304530.000000,152432.250000,4.666275e+05
50%,23710.485000,2.041660e+05,234170.000000,4.683440e+10,2.022903e+05,341655.000000,209725.000000,6.745800e+05
75%,42777.795000,3.791660e+05,386820.000000,7.736560e+10,3.549614e+05,394947.500000,315925.000000,1.006785e+06
max,201816.700000,1.470875e+06,567670.000000,1.140000e+11,2.112517e+06,567670.000000,360000.000000,1.291510e+06

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MSWG             464 non-null    float64
 1   POP              464 non-null    float64
 2   Literate POP     464 non-null    float64
 3   GDDP             464 non-null    float64
 4   GDDP PER CAPITA  464 non-null    float64
 5   HH               464 non-null    float64
 6   HH SIZE          464 non-null    float64
 7   Worker POP       464 non-null    float64
dtypes: float64(8)
memory usage: 62.6 KB

In [13]:
X = data.drop(columns=['MSWG'])
y=data['MSWG']

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [25]:
print(X_train.shape)
print(X_test.shape)

(800, 7)
(200, 7)

# Applying Linear Regression

In [26]:
column_trans = make_column_transformer(OneHotEncoder(sparse=False),['POP'])

TypeError: 'OneHotEncoder' object is not iterable